<h1>Where do you want to travel to?<h1>

<% airports_list = [] %> 
<% @all_airports.each do |a| %>
    <% airports_list << a.code %>
<% end %>

<%= form_with url: "/search", method: :get do |form| %>
    <%= form.label :departure_airport, "Leaving from:" %>
    <%= select_tag(:departure_airport, options_for_select(airports_list)) %>
    <%= form.label :arrival_airport, "Arrive at:" %>
    <%= select_tag(:arrival_airport, options_for_select(airports_list)) %>
    <%= form.label :passengers, "Number of passengers:" %>
    <%= select_tag(:passengers, options_for_select([1, 2, 3, 4])) %>
    <%= form.label :departure_date, "Departure date" %>
    <%= select_tag(:departure_date, options_for_select(@flight_dates_list)) %>
    <%= form.submit "Search flights" %>
<% end %>


<% unless @on_the_date == [] || @on_the_date == nil %>
    <h2>Available Flights:</h2>
    <%# Try without collection %>
    <%= form_with url: "/booking/new", method: :get do |form| %>
        <%= form.hidden_field :flight_id, value: "" %>
        <%= form.hidden_field :passengers, value: params[:passengers]%>
        <% @on_the_date.each do |flight| %>
            <%= form.radio_button :flight_id, "#{flight.id}" %>
            <%= form.label :flight_id, "Flight from #{flight.departure_airport} to #{flight.arrival_airport} on #{flight.start}" %><br>
        <% end %>
        <%= form.submit "Choose this flight" %>
    <% end %>


<% end %>
<% if @available_flights == [] %>
    <p>Sorry there are currently no available flights.<p>
<% elsif @available_flights != nil %>
    <h2>All available flights from <%= params[:departure_airport] %> are shown below</h2>
    <% @available_flights.each do |flight| %>
        <p>From <%= flight.departure_airport %> to <%= flight.arrival_airport %> at <%= flight.start %></p>
    <% end %>
<% else %>
    
<% end %>