<h1>New Booking:</h1>
<p>Date: <%= @flight.start%> </p>
<p>Departure Airport: <%= @flight.departure_airport %> </p>
<p>Arrival Airport: <%= @flight.arrival_airport %> </p>
<p>Flight duration: <%= @flight.duration %> minutes

<div data-controller="dynamic-form">
    <button data-action="click->dynamic-form#add">Add passenger</button><br><hr>
    <div>
        <%= form_with model: @booking do |f| %>
        <%= f.hidden_field :flight_id, value: "#{@flight.id}"%>
            <%= f.fields_for :passengers do |sub_form| %>
                <%# <div data-dynamic-form-target="first">
                <%# <%= render partial: 'passenger_fields', locals: { sub_form: sub_form } %>  
                <%# </div> %> 
                <div data-dynamic-form-target="container"></div>
                <template data-dynamic-form-target="template">
                    <%= f.fields_for :passengers, Passenger.new, child_index: 'NEW_RECORD' do |sub_form| %>
                    <%= render partial: 'passenger_fields', locals: { sub_form: sub_form }  %>
                    <% end %>
                </template>
                <p data-dynamic-form-target="message" class="message hidden">
                    Must have at least one passenger for the booking
                </p>
            <% end %>
            <%= f.submit "Create Booking" %>
        <% end %>
    </div>
</div>